<!DOCTYPE html>
<html>
  <head>
    <title>TechTalk</title>

    <%- include('head') %>
  </head>

  <body>
    <!--Navbar -->
    <%- include('navbar') %>
    <!--/.Navbar -->

    <div class="container m-5">
      <div class="list-group">
        <a href="#!" class="list-group-item list-group-item-action">
          Lorem Ipsum</a
        >
      </div>
    </div>
  </body>
  <!--Scripts And Footer -->
  <%- include('scripts') %> <%- include('footer') %>
</html>
