<footer class="page-footer font-small" style="background: #3a3a3a;left: 0;bottom: 0; width: 100%; margin-top:5%; " >

 
        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">
            "When inclusion is done right innovation is the outcome"  
        </div>
        <!-- Copyright -->
      
      </footer>
      