<!--Navbar -->
<nav
  class=" navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar"
  style="background: #3a3a3a;"
>
  <a class="navbar-brand font-weight-bold" href="/">
    <img src="./images/logo.png" height="30" alt="TechTalks" /> TechTalks
  </a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent-4"
    aria-controls="navbarSupportedContent-4"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent-4">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="/register">
          <i class="fas fa-calendar-plus"></i>Register
        </a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          target="_blank"
          href="https://www.instagram.com/techtalksbygls/"
        >
          <i class="fab fa-instagram"></i> Instagram</a
        >
      </li>
    </ul>
  </div>
</nav>
<!--/.Navbar -->
